gateapp/IFPRI_Disease_Schemas/Duration.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
  <!-- XSchema deffinition for Address -->
  <element name="Duration">
    <complexType>
      <attribute name="starting_date" use="optional">
      </attribute>
      <attribute name="ending_date" use="optional">
      </attribute>
    </complexType>
  </element>
</schema>
